<% include ./partials/header.ejs %>

<body>
     <div class="landing">
        <div class="centered">
            <a class="btn btn-large btn-primary" class="head" href="/student/login">Login as Student</a>
            <hr>
            <a class="btn btn-large btn-primary" class="head" href="/investor/login">Login as Investor</a>
        </div>
    </div>
</body>

<% include ./partials/footer.ejs %>