
<% include ../partials/header %>


<div class="container">
    
    <header class="jumbotron">
      
      <div class="container">
            
        </div>
        
    </header>
    
    <div class="row text-center" >
    
        
        
             <% for(let i=0;i<4;i++){  %>
             
             
                <div class="col-lg-3">
                    
                    <div class="card">
                        
                            <img class="card-img-top" >
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                    
                    </div>
        
                </div>
            
             <% } %>
        
       

</div>

<% include ../partials/footer %>