<% include ../partials/header %>

<div class="jumbotron text-center">
    <h1 class="display-4">START NEW FUNDRAISER</h1>
    <hr class="my-4">
    <p class="lead">Where Students meet Investors</p>
    <a class="btn btn-outline-success btn-lg" href="/fundraiser/new" role="button">NEW FUNDRAISER</a>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-1 text-center" style="margin: auto;">
            <i class="fas fa-chevron-circle-left" id="prevFundraisersStudent"></i>
        </div>
        <div class="col-xl-10">
            <div class="row mb-4" id="paginateFundraisersStudent">
        
            </div>
        </div>
        <div class="col-xl-1 text-center" style="margin: auto;">
            <i class="fas fa-chevron-circle-right" id="nextFundraisersStudent"></i>
        </div>
    </div>
    
    <hr>
    
    <div class="row">
        <div class="col-xl-1 text-center"  style="margin: auto;">
            <i class="fas fa-chevron-circle-left" id="prevInvestorsStudent"></i>
        </div>
        <div class="col-xl-10">
            <div class="row" id="paginateInvestorsStudent">
        
            </div>
        </div>
        <div class="col-xl-1 text-center"  style="margin: auto;">
            <i class="fas fa-chevron-circle-right" id="nextInvestorsStudent"></i>            
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="/scripts/studentHome.js"></script>

</body>
</html>