<% include ../partials/header %>

<div class="container mt-3 text-dark">
    <div class="row">
        <div class="col-md-1 col-lg-2 col-xl-3"></div>
        <div class="col-md-10 col-lg-8 col-xl-6">
            <form action="/fundraiser/new" method="POST">
                <div class="heading-2 text-center mt-3">EDIT FUNDRAISER</div>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="fundraiser[title]" placeholder="Enter title" name="title" required>
                </div>
                <div class="form-group">
                    <label for="institute">Institute</label>
                    <input type="text" class="form-control" id="fundraiser[institute]" placeholder="Enter Name of the Institute" name="institute" required>
                </div>
                <div class="form-group">
                    <label for="summary">Summary</label>
                    <input type="text" class="form-control" id="fundraiser[summary]" placeholder="Enter a quick summary" name="summary" required>
                </div>
                <div class="form-group">
                    <label for="goal">Goal</label>
                    <input type="Number" class="form-control" id="fundraiser[goal]" placeholder="Set a goal" name="goal" required>
                </div>
                <div class="form-group">
                    <label for="images">Images</label>
                    <input type="text" class="form-control" id="fundraiser[images]" placeholder="Enter image urls" name="images" required>
                </div>
                <button class="btn btn-outline-secondary">Submit</button>
            </form>
        </div>
        <div class="col-md-1 col-lg-2 col-xl-3"></div>
    </div>
</div>
<% include ../partials/footer %>